body {
  background-color: antiquewhite;

}
.main {
  background-color: tomato;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}
.center {
  margin: auto;
  width: 40%;

}
.table_center {
  display: flex;
  justify-content: center;
  
}

#horizontal_check_box {
  float:left;
}

table, th, td {

  
  text-align: center;
  }
  th {
    background: lightblue;
    
  }
  table {
    border-collapse: collapse;
    
    width: 100%;
  }

  