<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/staticFiles/main.css"/>
    </head>
    <body>
     
        <div class="main">
            <h1>Data Analysis Application</h1>
      
            <p>Choose csv file to upload</p>
           
            
              <form method="POST" enctype="multipart/form-data" action="/">
                <input type="file" id="myFile" name="uploaded-file" accept=".csv">
                <input type="submit" value="Submit" name="Submit_action">
            </form>
        </div>

        
        <table>
            <thead>
    
              <tr>
                {% for col in column_names %}
                <th>
                
                  {{col}}
                 
                </th>
                {% endfor %}
              </tr>
    
            </thead>
            <tbody>
              {% for row in row_data %}
              <tr>
                {% for col, row_ in zip(column_names, row) %}
                <td>{{row_}}</td>
                {% endfor %}
              </tr>
              {% endfor %}
    
             
            </tbody>
      
          </table>
         
        
          {% if column_names[0] %}
      <h3>Show Checkboxes</h3>
        <form name="df_checkbox" action="/" method="POST">
          <p>Stubs of crosstab</p>
          {% for column in column_names %}
          <input type="checkbox" id="{{column}}" name="checkbox_rows" value="{{column}}">
          <label for="{{column}}">{{column}}</label><br>
          {% endfor %}

          <p>Banners of crosstab</p>
          {% for column in column_names %}
          <input type="checkbox" id="{{column}}" name="checkbox_columns" value="{{column}}">
          <label for="{{column}}">{{column}}</label><br>
          {% endfor %}


          <input type="submit" value="Checkbox_Submit" name="Checkbox_action">
        </form>
        {% endif %}

        
        {% for table in tables %}
            {{titles[loop.index]}}
            {{ table|safe }}
        {% endfor %}
    </body>
   
</html>