<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/staticFiles/main.css"/>
    </head>
    
      <body onload="flashMessage()">
        <script>
          function flashMessage() {
            if ("{{ flash_message }}" == "True") {
              
              alert("Rows:1 or 2 and Columns: 1 or 2");
            }
          }
        </script>
      
     
        <div class="main">
          <div class="center">
            <h1>Data Analysis Application</h1>
      
            <p>Choose csv file to upload</p>
           
            
              <form method="POST" enctype="multipart/form-data" action="/">
                <input type="file" id="myFile" name="uploaded-file" accept=".csv">
                <input type="submit" value="Submit" name="Submit_action">
            </form>
          </div>
            
        </div>


        {% if column_names[0] %}
        <div class="table_center">
          <table>
            <thead>
    
              <tr>
                {% for col in column_names %}
                <th>
                
                  {{col}}
                 
                </th>
                {% endfor %}
              </tr>
    
            </thead>
            <tbody>
              {% for row in row_data %}
              <tr>
                {% for col, row_ in zip(column_names, row) %}
                <td>{{row_}}</td>
                {% endfor %}
              </tr>
              {% endfor %}
    
             
            </tbody>
      
          </table>

        </div>
        {% endif %}
        
         
        
          {% if column_names[0] %}
      <h3>Show Checkboxes</h3>
        <form name="df_checkbox" action="/" method="POST">
          <p>Stubs of crosstab</p>
          

          {% for column in column_names %}
          <div id="horizontal_check_box">
           
            <input type="checkbox" id="{{column}}" name="checkbox_rows" value="{{column}}">
          <label for="{{column}}">{{column}}</label><br>
          
          </div>
          {% endfor %}
          


            <br>
            <p>Banners of crosstab</p>
         

            {% for column in column_names %}
          <div id="horizontal_check_box">
            
            <input type="checkbox" id="{{column}}" name="checkbox_columns" value="{{column}}">
            <label for="{{column}}">{{column}}</label><br>
            
          </div>
          {% endfor %}
         

          <br>
          <br>
          <br>
          <div style="float: left;">
            <input type="submit" value="Checkbox_Submit" name="Checkbox_action">
          </div>
          
          
        </form>
        {% endif %}


        <br>
        <br>

        
        <div class="table_center">
          {% for table in tables %}
           
            {{ table|safe }}
        {% endfor %}


        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="img_center">
          {% if plot_url %}
        <img src="data:image/jpg;base64, {{ plot_url }}">

        {% endif %}

        </div>
        

        <br>
        <br>
        <br>
        <br>
     

        
    </body>


   
</html>